<div class="about-main">
  <div class="section">
    <h1 class="about-header">ABOUT</h1>
    <p>Invisible City is an internet radio station, record label, shop and DJ Soundsystem based out of Toronto, Canada.
      Check back most weekends for different sounds from around.
    </p>
    <div class="inline-link-block">
      <p class="inline-text">All of our previous shows are available on&nbsp;</p>
      <p class="inline-text"><a href="https://www.mixcloud.com/trparchives/" target="_blank">Mixcloud.</a></p>
    </div>
    <div class="inline-link-block">
      <p class="inline-text">For upcoming events check on </p>
      <a class="inline-text" href="https://www.residentadvisor.net/promoter.aspx?id=74298" target="_blank">Resident Advisor.</a>
    </div>
    
  </div>
  <div class="Section">
    <h2>CONTACT</h2>
    <a href="mailto:info@invisiblecityeditions.com?Subject=IC%20Radio" target="_top">info@invisiblecityeditions.com</a>
    <p>+1 416.414.1781</p>
  </div>
  <div class="section">
    <h2>SHOP</h2>
    <p>You can find us at our new shop location at Chinatown Centre, 222 Spadina Avenue, Toronto, Ontario. Walk down the outside stairs and the shop is on the right side of the courtyard</p>
    <p>Our shop hours are as follows:</p>
    <div class="hours">
      <p><strong>Sunday - Wednesday</strong> 1pm - 6pm</p>
      <p><strong>Thursday - Saturday</strong> 1pm - 8pm</p>
    </div>
    <p>Check on instagram for any changes to hours.</p>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.865939385338!2d-79.40029744863274!3d43.65095746049081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34c34dafd539%3A0xd894cdb4deaf7f8d!2sChinatown+Centre!5e0!3m2!1sen!2sca!4v1562207452149!5m2!1sen!2sca" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
