<div class="nav-bar">
  <mat-toolbar class="mat-bar" routerLinkActive="active">
    <img class="nav-image" src="assets/nav-bar-logo.png">
    <span class="main-nav-item clickable" routerLink="/about">Invisible City Radio</span>
    <span class="fill-remaining-space"></span>
    <span class="nav-item clickable" routerLink="/schedule">Schedule</span>
    <span class="nav-item clickable" routerLink="/about">About</span>
    <a class="nav-item clickable" href="https://www.invisiblecityeditions.com" target="_blank">Store</a>
  </mat-toolbar>
</div>