<div class="nav-bar">
    <mat-toolbar color="mat-bar">
        <img class="nav-image" src="assets/nav-bar-logo.png">

        <div fxShow="true" fxHide.lt-md="true">
            <span class="main-nav-item">Invisible City Radio</span>
        </div>

        <div fxShow="true" fxHide.gt-sm="true">
            <span class="main-nav-item">IC Radio</span>
        </div>

        <span class="fill-remaining-space"></span>

        <div fxShow="true" fxHide.lt-md="true">
            <!-- The following menu items will be hidden on both SM and XS screen sizes -->
            <a class="nav-item" routerLink="/about" mat-button>About</a>
            <a class="nav-item" routerLink="/schedule" mat-button>Schedule</a>
            <a class="nav-item" href="https://www.invisiblecityeditions.com" target="_blank" mat-button>Store</a>
        </div>

        <div fxShow="true" fxHide.gt-sm="true" class="icon-text" (click)="sidenav.toggle()">
            <mat-icon class="menu-icon">menu</mat-icon>
        </div>
    </mat-toolbar>
</div>

<div>
    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav fxLayout="column" fixedInViewport="true" fixedTopGap="7">
            <div fxLayout="column" class="additional-top-space">
                <a class="nav-item" routerLink="/about" mat-button>About</a>
                <a class="nav-item" routerLink="/schedule" mat-button>Schedule</a>
                <a class="nav-item" href="https://www.invisiblecityeditions.com" target="_blank" mat-button>Store</a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-video></app-video>
            <div class="content-container-standard">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>



