<div class="footer-main">
  <div class="copyright">
    <p>© Invisible City Radio, 2019</p>
  </div>
  <div class="icons">
    <a href="https://www.facebook.com/InvisibleCityRecordShop/" target="_blank">
      <img class="icon clickable" src="../../assets/icons8-facebook-48.png">
    </a>
    <a href="https://www.instagram.com/invisiblecity_/" target="_blank"> 
      <img class="icon clickable" src="../../assets/icons8-instagram-48.png">
    </a>
    <a href="https://www.youtube.com/user/gmercado/" target="_blank">
      <img class="icon clickable" src="../../assets/icons8-play-button-48.png">
    </a>
    <a href="https://twitter.com/invisiblecity_" target="_blank">
      <img class="icon clickable" src="../../assets/icons8-twitter-48.png">
    </a>
  </div>
</div>