<app-navigation-bar></app-navigation-bar>

<app-video></app-video>

<!--for scroll testing-->


<p class="content-container">Lorem ipsum facilisis dui quisque donec diam dui, odio taciti quisque nisi est turpis, pellentesque libero lorem
        convallis consectetur duis ultricies cursus nibh sagittis suscipit curabitur vehicula consequat odio fringilla
        nisi quisque ut porta etiam augue senectus magna aptent, augue magna massa tempor duis a ut magna porta ut
        curabitur justo lobortis quisque per duis velit facilisis etiam torquent quis vitae mattis dapibus tristique
        ultricies, tempor sed cursus blandit egestas posuere ut elit, in lacus etiam nibh cras lorem commodo non dapibus
        amet hac gravida integer platea cras massa tristique elementum semper facilisis risus tempus morbi nisl nostra
        cras vehicula.

        Posuere ipsum etiam ipsum eleifend senectus in, fames luctus semper proin accumsan aliquam posuere, sollicitudin
        blandit phasellus eget aliquam feugiat auctor phasellus euismod posuere placerat malesuada eros diam, consequat
        interdum et ut per class scelerisque massa netus, nisi aenean aliquam a orci convallis lobortis suscipit duis
        ornare commodo pulvinar auctor porttitor sit aenean risus, iaculis bibendum duis himenaeos duis mi dui id, nunc
        id blandit venenatis ac habitasse id primis a lacus sem leo nec suscipit iaculis curabitur commodo hendrerit
        elit, volutpat elit magna fames posuere viverra ultrices tellus justo vulputate, pellentesque orci lacus blandit
        commodo diam ante maecenas curae.

        Aliquam ac adipiscing curabitur accumsan arcu dictumst, non justo nibh dapibus vivamus viverra donec, hendrerit
        quam vulputate tristique risus dui et mi suscipit malesuada class vehicula, sodales placerat tempor suscipit
        tristique platea phasellus, sagittis imperdiet congue sagittis venenatis ornare diam tortor curabitur sapien
        nibh rutrum sed feugiat enim, placerat lacinia nec maecenas metus vestibulum curabitur nostra, mattis ut hac
        adipiscing luctus etiam senectus praesent est per cubilia luctus tortor habitant nam, hac iaculis sit ultricies
        tortor eros, lectus inceptos a platea et justo fermentum tempus lacus nec nullam eleifend, nostra varius lacinia
        dapibus purus mauris, ac gravida libero curabitur bibendum.

        Donec inceptos turpis purus lobortis luctus lacus vestibulum ut nostra nisl arcu, nulla non amet aenean habitant
        ut lorem maecenas primis dictum aptent, conubia metus lorem massa vehicula id sociosqu condimentum eu tristique
        etiam quis vitae venenatis dui massa ultricies aliquam nec ultricies per, hendrerit eleifend semper facilisis
        class nibh pellentesque bibendum felis, etiam faucibus sodales leo ut taciti quisque class conubia libero mi
        ultrices aliquam porta potenti platea nullam semper blandit libero phasellus malesuada arcu, cras nibh gravida
        adipiscing volutpat pretium phasellus curabitur quisque etiam at dapibus, lacus lacinia fringilla neque risus
        dapibus neque integer malesuada etiam suscipit convallis.

        Sapien taciti purus sodales lectus ligula neque eget tincidunt imperdiet venenatis, non arcu tellus venenatis
        himenaeos ultricies ipsum cubilia ligula egestas, eget rhoncus dui neque lobortis hac aliquam sagittis purus
        risus ac rutrum per arcu tempus arcu ante vulputate, diam turpis fermentum hendrerit aliquam facilisis donec
        justo ligula, consequat leo hendrerit convallis accumsan fusce at ultricies sapien elit libero molestie
        pellentesque faucibus consectetur purus varius per, condimentum mattis metus eget est odio ullamcorper quisque
        posuere convallis dictumst, semper varius porttitor eget erat vehicula integer sed mollis inceptos quis aliquet
        nisl habitant lacinia cursus lobortis arcu amet erat tellus lobortis condimentum.

        Tristique dapibus ultricies nam rutrum nisi leo sagittis mollis eget erat sed ut et curae, placerat curabitur
        sit dui tempor phasellus eleifend libero lorem in nisi tellus posuere fringilla arcu velit volutpat libero ut
        primis phasellus nec nostra libero lobortis mauris, a euismod molestie nunc scelerisque fames convallis
        imperdiet platea conubia netus dictum nostra class auctor porttitor cursus nunc consequat fames lacus, eleifend
        id eget etiam fames commodo mi per donec, egestas platea proin ultricies ut aliquam odio sed pellentesque nam
        pulvinar neque molestie porttitor integer himenaeos, ultrices aptent egestas dapibus commodo primis volutpat,
        vestibulum lacinia non vel consequat curabitur.

        Diam donec imperdiet hendrerit urna sed inceptos at, curae viverra eu vitae mollis ullamcorper neque torquent,
        luctus turpis mi tristique nulla fringilla faucibus porta mattis lectus aliquet et potenti ante vehicula magna
        aliquam, potenti mattis torquent pulvinar commodo egestas nulla velit elementum odio, pulvinar netus curae elit
        urna elementum massa bibendum senectus enim amet est dapibus consectetur pellentesque amet adipiscing orci
        cursus luctus, scelerisque sodales odio quam integer porttitor sit class rutrum, a leo enim consequat fringilla
        hendrerit elit ullamcorper aliquet odio aptent conubia vitae vulputate laoreet habitasse, quis etiam iaculis
        porta quam nunc euismod, ornare ultrices nullam tortor aliquam.

        Accumsan gravida donec turpis dictum egestas odio hac quam posuere, conubia feugiat orci a sem accumsan risus
        lacus quisque mattis quisque posuere mollis aenean sit, sapien venenatis dapibus mollis massa malesuada sem,
        integer commodo litora ac eget cubilia pharetra sapien nunc facilisis litora sociosqu enim tempus tellus donec
        molestie cubilia, justo venenatis malesuada iaculis tellus metus aliquam justo lacinia ac euismod rhoncus
        tortor, suspendisse molestie commodo nunc venenatis vivamus justo habitant consequat felis egestas proin sapien
        ut quisque curabitur aptent ut cubilia metus nullam justo lacinia, nullam tellus cursus et maecenas potenti
        curabitur accumsan semper hac integer at malesuada pretium.

        Platea quisque hendrerit viverra donec vivamus amet congue molestie, quisque lacus quis scelerisque justo
        habitant cubilia, venenatis arcu laoreet fusce nullam et in libero aenean amet maecenas inceptos netus vitae
        venenatis odio magna accumsan cursus nibh blandit venenatis, dui auctor felis himenaeos aliquam vestibulum donec
        eros phasellus dolor sociosqu arcu pretium congue dolor ultrices sociosqu interdum hendrerit viverra sagittis ac
        turpis, aenean duis a class blandit aenean eleifend vitae rhoncus bibendum, accumsan ornare suscipit venenatis
        urna ornare aliquam et condimentum eros dapibus cras at sagittis tellus mollis ligula justo ullamcorper ornare,
        tincidunt pretium turpis fames congue pretium senectus et enim.

        Cubilia interdum curae augue conubia nisi lacus senectus lectus, etiam rutrum lacus volutpat lorem malesuada
        luctus aliquam vivamus, cubilia varius sodales luctus tellus ut feugiat conubia ac convallis aliquam maecenas
        eget sed non cursus, nulla etiam malesuada orci et eget netus, rhoncus hendrerit senectus sagittis maecenas
        turpis integer accumsan quam ultricies non rhoncus quisque dictum molestie sollicitudin adipiscing congue
        turpis, hendrerit tincidunt volutpat dui class hendrerit sodales porta lorem curae lacus, metus maecenas
        bibendum integer dui ut hac adipiscing inceptos magna integer sit pharetra sapien nisl aenean ultricies ac etiam
        aenean nisl, tellus bibendum nisi curae posuere sociosqu erat fringilla.

        Lectus tortor inceptos habitant vehicula ac dolor vitae fringilla, quisque mattis ullamcorper luctus etiam
        feugiat viverra nisl, interdum mollis conubia felis luctus aliquam porta congue donec quis ipsum netus
        condimentum orci odio interdum, porta praesent mi varius convallis eleifend gravida ac, ligula integer tristique
        consectetur suspendisse varius vulputate lectus volutpat bibendum etiam ipsum potenti ligula tempus malesuada,
        enim curabitur vulputate libero lobortis porta sapien etiam ligula, class curabitur orci auctor magna conubia
        suspendisse at sociosqu phasellus rhoncus varius quisque turpis inceptos pellentesque bibendum, felis magna
        pulvinar viverra tristique conubia viverra lacus curae, habitant id justo class orci condimentum lacus donec.

        Venenatis consequat etiam eget donec sagittis vestibulum, dui ut quisque suspendisse accumsan quam tristique,
        orci purus aliquam nisi lacinia ut nullam ac varius neque morbi mollis leo vitae, facilisis rhoncus primis justo
        vestibulum congue eleifend augue ullamcorper, pellentesque nisi curae gravida massa auctor proin elementum
        pulvinar metus lorem amet sociosqu aenean fringilla feugiat felis conubia semper, odio etiam senectus himenaeos
        hac accumsan faucibus ante arcu varius, cursus platea id pulvinar luctus libero vitae per luctus tristique
        ligula volutpat dapibus malesuada vivamus viverra vulputate aliquam blandit, felis class nulla taciti magna
        libero fringilla aenean, conubia at porta vel semper morbi massa.

        Aliquam odio suscipit at luctus ligula gravida laoreet aenean sed varius eu, scelerisque suscipit est euismod
        sed massa inceptos platea sagittis nisi, molestie inceptos primis dolor velit pretium cras egestas tincidunt
        rutrum pulvinar praesent posuere eleifend cursus metus curabitur pharetra cras tristique, ad rhoncus gravida
        class fusce phasellus curae curabitur interdum primis at convallis donec lectus hendrerit cras dapibus fames
        platea aliquet, tincidunt scelerisque urna ante platea est quam pharetra aenean cursus consectetur aenean magna
        sem enim tempor elementum convallis, nulla taciti proin tristique donec molestie a iaculis, interdum molestie
        aliquam odio proin eleifend netus suspendisse phasellus pellentesque habitasse neque.

        Duis nibh dui nisl curabitur tellus ultrices tempus netus integer viverra, sit lobortis fames sapien lacus
        ullamcorper ut habitant sit tellus, laoreet id litora luctus turpis litora nec vivamus cras semper condimentum
        urna ornare eleifend suspendisse dui elementum fringilla proin nam conubia egestas eget, ultrices malesuada
        aliquam aliquet eleifend justo ornare aliquet metus dui litora conubia fringilla mauris dictum quisque vel
        nullam eleifend quis luctus, vitae sollicitudin per ipsum aliquam ut platea habitant magna, scelerisque ad
        lobortis hendrerit curabitur enim quam semper cras purus cursus felis dapibus ad lectus curabitur egestas
        aliquam, aliquet nunc accumsan blandit augue auctor varius tempus.

        Curabitur turpis bibendum lorem proin at venenatis potenti bibendum blandit, integer scelerisque euismod tempus
        nulla gravida ac quam ultricies, integer sit fringilla arcu litora ad sem curae ultricies himenaeos per dictum
        elementum aenean senectus sollicitudin aliquam pellentesque, massa vehicula ullamcorper purus elementum ut
        tellus auctor curabitur, tellus venenatis malesuada curae lacinia erat libero nulla pharetra non a pharetra
        eleifend laoreet in porta quisque, odio id et mollis quam suspendisse diam hendrerit, tempus eget dui phasellus
        per suscipit tellus justo facilisis sit ut phasellus tellus purus elit, magna hac curae feugiat quisque eget
        vitae tempus, faucibus platea magna pellentesque mollis in.

        Libero ac netus magna ipsum vulputate dictumst eu nisi, ipsum rutrum eros senectus himenaeos sodales dolor,
        mollis urna nam posuere quisque malesuada id tempus sem netus dictum tempus magna condimentum platea vivamus
        nibh elit blandit, class odio venenatis curabitur viverra adipiscing suscipit elementum laoreet nisi donec
        tellus faucibus cursus nostra lorem fames quisque, ac venenatis orci potenti vitae vel felis, proin adipiscing
        velit luctus pulvinar pharetra fames rhoncus ipsum sociosqu litora ultricies pulvinar congue, dolor risus varius
        mollis mattis vivamus, id molestie pretium nunc habitant vitae risus adipiscing sapien magna imperdiet amet nunc
        sapien, vel vitae maecenas pharetra aptent inceptos.

        Viverra nullam et euismod hac conubia sit habitant ullamcorper sed augue fringilla, leo mattis condimentum
        aenean ullamcorper vel lobortis curae vel rutrum, nibh ligula interdum eleifend at porta per auctor maecenas
        eleifend praesent feugiat ac at aliquet sapien ante nisi, dapibus hendrerit quis suspendisse amet placerat id,
        sociosqu sapien diam duis tincidunt posuere massa lacinia ipsum consequat integer eget aenean arcu massa, nisl
        etiam ultrices etiam ut molestie vehicula erat, arcu tellus pellentesque sed aliquam gravida nulla eleifend
        ligula aliquet id luctus himenaeos primis nulla orci, fringilla et rhoncus inceptos morbi et quisque etiam justo
        id sapien praesent erat nisl.

        Tempus accumsan sagittis ultricies ornare eros varius turpis tellus, nibh vehicula senectus rutrum quisque duis
        phasellus, libero in condimentum et imperdiet nisi sollicitudin congue accumsan lobortis aliquam condimentum
        imperdiet accumsan quisque fusce senectus, risus ornare potenti magna et sollicitudin tellus netus donec,
        ultrices per feugiat nunc cras suscipit sollicitudin maecenas porta sem porttitor nibh pellentesque bibendum
        tempus euismod urna mollis lectus, sagittis maecenas habitant integer faucibus curabitur volutpat tristique
        habitant hac donec duis ullamcorper quisque elit curabitur hac, libero aenean diam primis molestie integer
        nulla, etiam sem hac dui scelerisque aptent vivamus et suscipit ad taciti cras tempus dapibus netus.

        Torquent nulla adipiscing blandit vel morbi sed nulla elit, luctus donec egestas nec cursus eros euismod lorem,
        proin posuere ultrices elit interdum tempus faucibus dictum habitant eleifend quam ad iaculis nostra
        pellentesque posuere pharetra, consectetur gravida consequat ut eleifend vulputate nec habitasse class, a
        phasellus diam justo eleifend pellentesque blandit auctor sem suspendisse cras a euismod est aliquet tempor
        neque aenean, primis orci adipiscing amet rutrum lorem aliquam tincidunt, est elit primis cursus sem vestibulum
        vivamus gravida euismod non erat aenean metus elementum, platea mauris nam vitae amet, nullam enim mi nisl eros
        dapibus lacinia quam venenatis arcu fusce ligula.

        Ullamcorper varius ligula morbi augue ultrices fames hac semper in euismod accumsan taciti, vulputate nisl
        lectus commodo quisque viverra volutpat adipiscing mi malesuada ac aliquet ut nam a at dictumst enim aliquet,
        etiam quam velit vehicula ut nisi aptent malesuada porttitor scelerisque auctor molestie semper tempus mattis
        inceptos tempus metus, nec dictumst cursus hendrerit ligula donec vel pretium cras, sem rhoncus tincidunt quis
        platea lectus curabitur tempor nibh congue cras nisl condimentum cursus venenatis metus, libero turpis aliquet
        etiam lorem bibendum orci, mollis gravida felis tellus non orci facilisis non tincidunt cursus proin eu leo
        inceptos vel at ultrices etiam.
</p>

<div class="content-container">
        <router-outlet></router-outlet>
</div>

<app-footer></app-footer>