<div class="about-main">
  <div class="section">
    <h1 class="about-header">ABOUT</h1>
    <p>Invisible City is an internet radio station, record label, shop and DJ Soundsystem based out of Toronto, Canada.
      Check back most weekends for different sounds from around.
    </p>
  </div>
  <div class="Section">
    <h2>CONTACT</h2>
    <a href="mailto:info@invisiblecityeditions.com?Subject=IC%20Radio" target="_top">info@invisiblecityeditions.com</a>
    <p>+1 416.414.1781</p>
  </div>
  <div class="section">
    <h2>SHOP</h2>
    <p>You can find us at our new shop location at 1265 Dundas Street West, Toronto, Ontario.</p>
    <p>Our shop hours are as follows:</p>
    <div class="hours">
      <p ><strong>Sunday - Wednesday</strong> 1pm - 6pm</p>
      <p><strong>Thursday - Saturday</strong> 1pm - 8pm</p>
    </div>
    <p>Be sure to check on instagram for any changes to hours.</p>
  </div>
</div>